@import "tailwindcss";

@theme {
  --color-primary-orange: hsl(26, 100%, 55%);
  --color-primary-pale: hsl(25, 100%, 94%);
  --color-neutral-dark: hsl(220, 13%, 13%);
  --color-neutral-gray-1: hsl(219, 9%, 45%);
  --color-neutral-gray-2: hsl(220, 14%, 75%);
  --color-neutral-gray-3: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --font-family-primary: "Kumbh Sans", sans-serif;
}
